@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100&display=swap');
body{
  max-width:100%;
  max-height: 100%;
  
  min-width: 100%;

}
#back{
    position: relative;
}

#front{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 120px;
    width: 55%;
    height: 60%;
    text-align: center;
    background-color: white;
    font-family:  'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.icon {
    width:25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
}

#menu {
    background-color: transparent;
    font-family:  'Open Sans Condensed', sans-serif;
    border-color: burlywood;
    margin-left: 15px;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 80%;
    border-radius: 10%;
    text-decoration: none;
    color: black;
    
}

#about {
    font-size: 80%;
    margin-top: 10%;
    text-align: left;
    padding-left: 50%;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


.zoom1:hover {
  -ms-transform: scale(3); /* IE 9 */
  -webkit-transform: scale(3); /* Safari 3-8 */
  transform: scale(3); 
}


html {
  scroll-behavior: smooth;

}
body {
    
        overflow-x: auto; /* for horizontal scrolling*/
overflow-y: auto; /* for vertical scrolling */
    
}
.icon {
    width:10%;
    height: 10%;
    margin: 10px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.page2 {
    float:left; 
    padding: 20px; 
    margin-bottom: 5%;
    font-size: 18px;  
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-top: 100px;
}
.con {
  display: inline-block;
  position: relative;
  width: 100px;
  max-width: 100px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.con:hover .overlay {
  opacity: 1;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

