@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
html{
    zoom: 100%;
    height: 100%;
}


body    {
    background-image: linear-gradient(to right top, #110f14, #1f1d23, #2e2a33, #3d3844, #4d4755);
   
}


  

#intro  {
    width: 800px;
    font-family: juraL;
    font-size: 18px;
    margin-left: 20px;
    color: white;
    line-height: 25px;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    display: inline-block;
     margin-top: 70px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.colorpink  {
    color:lightpink;
}
.colorblue  {
    color:lightsteelblue;
}





