html{
    height: 100%;
}


body    {
    background-image: linear-gradient(to right top, #110f14, #1f1d23, #2e2a33, #3d3844, #4d4755);
   
}

@font-face {
    font-family: juraL;
    src: url(Jura-Light.otf);
}
  

#intro  {
    width: 800px;
    font-family: juraL;
    font-size: 16px;
    color: white;
    position: relative;
    font-family: "robmonreg";
    text-align: left;
    display: inline-block;
     margin-top: 100px;
        animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.colorpink  {
    color:lightcoral;
}
.colorblue  {
    color:cadetblue;
}




#comminvo{
  font-family: "ostrich";
    color: lightsteelblue;
    font-size: 36px;
    width: 800px;
    margin-top: 30px;
    display: inline-block;
    background: transparent;
    
}


#comminvosub{
    width: 100px;
    margin: 15px;
    text-align: center;
    float: left;
    display: inline-block;
    font-family: "ostrich";
    font-weight: bolder;
    color: white;
    font-size: 20px;
    white-space: normal;
}

#commpic {
   width: 100px; 
    margin: 5px;
    
    
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}





