@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@font-face {
    font-family: ostrich;
    src: url(/Fonts/ostrich-sans/OstrichSans-Light.otf);
}

@font-face {
    font-family: jura;
    src: url(/Fonts/jura1/Jura-Regular.otf);
}

@font-face {
    font-family: juraLight;
    src: url(/Fonts/jura1/Jura-Light.otf);
}

@font-face {
    font-family: infinity;
    src: url(/Fonts/infinity.rar);
}

@font-face {
    font-family: screenmatrix;
    src: url(/Fonts/screenmatrix/ScreenMatrix.ttf);
}

@font-face {
    font-family: leddis;
    src: url(/Fonts/the_led_display_st/TheLedDisplaySt.ttf);
}

@font-face {
    font-family: robmonreg;
    src: url(/Fonts/Roboto_Mono/RobotoMono-Light.ttf);
}
