@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100&display=swap');
.sticky {
  background-image: linear-gradient(to right top, #110f14, #1f1d23, #2e2a33, #3d3844, #4d4755);
    margin: 0px;
    text-align: center;
    z-index: 1000;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    
}
.options{
    height: 5px;
    white-space: nowrap;
    font-size: 26px;  
    font-family:  'Open Sans Condensed', sans-serif;
    padding: 50px; 
}
.options:hover{
    transform: scale(.8);
   
}    

.active{
    color: dimgray;
}



    