@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
html{
    height: 100%;
}

body{
  background: white;
    overflow-x: hidden;
}
.tab {

    white-space: nowrap;
    background:transparent;
    display:inline-block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    
   
    
}

/* Style the buttons that are used to open the tab content */
.tab button {
   
    display: inline-block;
    white-space: nowrap;
    background: transparent;
    font-family:  'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 30px;
   
    border-bottom: 10px solid gray;


	width: 400px;
   
    cursor: pointer;
    transition: 0.3s; 
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 20px solid darkgray;
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    outline-color: transparent;

}

/* Create an active/current tablink class */
.tab button.active {
    background: transparent;
    border-bottom: 20px solid pink;
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    outline-color: transparent;
   
}

.tab button:valid{
    outline-color: transparent;
}

/* Style the tab content */
.tabcontent {
    position:relative;
    min-width: 100%;
    max-width: 100%;
    
    overflow: visible;
    text-align: center;
    
}
.scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
.tab span{ 
  position: absolute;
  top: -30px;
  left: 25%;
  color: #fff;
}
#skills{
    width: 23%;
    display: inline-block;
    float: left;
   margin: 20px;
    overflow: hidden;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:5px;
	width:200px;;
	background:#E0E0E0;
	height:20px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}
#barCaptions{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #4d0019;
    font-weight: bold;
    margin: 0px;
    margin-left: 10px;
    
}
.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
#RHInternship{
    text-align: center;
    position:relative;
}
.textBoxProject_RH{
    background:  url(/rh/IMG_9279.png) no-repeat scroll center top transparent;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 80%;
    object-fit: fill;
    display: inline-block;
    float:left;    
}
.experienceHome{
    padding: 0px;
    width:70%;
    
    display: inline-block;
    
}
#extras {
    margin: 30px;
    float:left;
    width: 65%;
    overflow: hidden;
    

    display: inline-block;
    
}
#captionchunk { 
    
    text-align: right; 
    float:left;
    display:block;
    font-family: monospace; 
    overflow: hidden;
    background-image: linear-gradient(to right top, #110f14, #1f1d23, #2e2a33, #3d3844, #4d4755); 
    padding: 5px; 
    color:white;
    font-size: 14px;
}
#awards {
    display: inline-block;
    height: 90%px;
    width: 30%;
    margin:5%;
    float:left;
    text-align: left;
    font-size: 22px;
    font-family: "Open Sans Condensed", sans-serif;
    color:black; 
    
    
}
#ppt{
    text-align: left;
    font-size: 22px;
    font-family: "Open Sans Condensed" sans-serif;
    color:black; 
    width:50%;
    height:60%;
    float:left;
    margin: 5%;
}
.wireframe {
    width:45%;
    display: inline-block;
    margin: 20px;
    margin: 0px;
    text-align: center;
    font-family: "Open Sans Condensed" sans-serif;
    
}
.wireframe:hover {
    transform: scale(1.2);
    z-index: 10;
}
.flyers {
    width:80%;
    
    margin: 20px;
    margin: 0px;
    text-align: center;
    font-family: "Open Sans Condensed" sans-serif;  
}
.flyers:hover {
    transform: scale(1.2);
    z-index: 10;
}
.writing    {
    font-family: "juraL";
    color: black;
}
#captionchunk{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.everydayHeroIMG{
    width: 100%;
}
.everydayHeroIMG:hover{
    transform: scale(1.2);
    z-index: 10;
}
.zoom{
    float:left;
    display:inline-block;
}
.zoom:hover {
    transform: scale(1.5);
    z-index: 10;
}